.certificates{
    padding: 100px 0;
    text-align: center;
}

.cert-title{
    margin-bottom: 100px;
    font-size: 6rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Young Serif', serif;
}

@media (max-width:1000px) {
    .cert-title{
        margin-bottom: 150px;
        font-size: 30px !important;
        text-align: center;
    }
}
.cert-title span{
    color: #ff9f10;
}

.certificate{
    max-width: 320px;
    margin: 60px auto !important;
}

@media (min-width:280px) and (max-width:653px) {
    .certificate{
        max-width: 200px;
        margin: 60px auto !important;
    }
}

@media (min-width:350px) {
    .certificate{
        max-width: 250px;
        margin: 60px auto !important;
    }
}



.certificate img{
    width: 100%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition-duration: 1s;
}

.pos-rotate{
    -webkit-transform: rotate(20deg); /* Safari, older versions of Chrome */
    -ms-transform: rotate(20deg); /* Internet Explorer */
    transform: rotate(20deg); /* Standard */
}

.neg-rotate{
    -webkit-transform: rotate(-20deg); /* Safari, older versions of Chrome */
    -ms-transform: rotate(-20deg); /* Internet Explorer */
    transform: rotate(-20deg); /* Standard */
}

.certificate img:hover{
    scale: 1.3;
}
