.one_exp{
  background-color: rgb(22, 19, 19);
  color: white;
  padding: 0px 50px 10px;
  margin-bottom: 30px;
  max-width: 350px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.one_exp .img{
  text-align: center;
}

.one_exp img{
  width: 80%;
  margin: 20px auto !important;
  height: 250px;
}

.exp_title{
  text-align: center;
  color: rgba(78, 161, 75, 0.84);
}

.exp_details{
  line-height: 1.6;
  letter-spacing: 2px;
}

.links_card{
  margin-left: 1% !important;
}

.links_card img{
  border-radius: 50%;
}
@media (max-width:1000px) {
  .links_card{
    margin-left: auto !important;
    margin-left: auto !important;
  }
}
