.col-sm-4 {
    position: relative;
    perspective: 1000px; /*add a perspective to the parent container */
    text-align: center;
    margin-bottom: 150px;
    z-index: 4;
  }

  .col-sm-4 .img{
    width: 100%;
    height: 100%;
   
  }
  
  .img img{
    width: 90%;
    height: 90%;
    margin: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 150px;
  }
  img:hover{
    cursor: pointer;
  }

.expcontainer{
  text-align: center !important;
}

  .expdesc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 30px 0 !important;
    backface-visibility: hidden; /* hide the backface of the card */
    transform: rotateY(180deg); /* rotate the card 180 degrees initially to hide content */
    transition: transform 0.5s ease-in-out; /* add a transition effect */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  }
  
  .col-sm-4:hover .expdesc {
    transform: rotateY(0deg); /* rotate the card back to its original position on hover */
  }
  
  .expdesc h1, .expdesc p {
    opacity: 0; /* initially hide the title and description */
    transition: opacity 0.5s ease-in-out; /* add a transition effect */
  }
  
  .col-sm-4:hover .expdesc h1,
  .col-sm-4:hover .expdesc p {
    opacity: 1; /* show the title and description on hover */
  }
  

  .expdesc h1{
    color: rgba(78, 161, 75, 0.84);
    line-height: 1.7;
    padding: 10px 5px;
  }

  .expdesc p{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    padding: 10px;
  }

  .links{
    border-radius: 50%;
    margin-top: 20px;
  }