*{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    
}


header{
    width: 100%;
    min-height:100vh;
    background-image: url("../imgs/kemooz-back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
}
.intro-row{
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}
.desc{
    color: white;
    margin-top: 20% !important;
    text-align: left !important;
}

.desc h2{
    line-height: 1.5;
}

/* Hide the original text */

  
  /* Create a vertical bar after the text */
  #elementEl::after {
    content: '!';
    margin-left: 5px;
    animation: blink 0.7s 1;
  }
  
  /* Define the blink animation */
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.desc .myimg{
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.myimg img{
    width: 80%;
    animation-name: img;
    animation-duration: 7s;
    border-radius: 50%;
    height: 400px;
    margin-top: 25% !important;
}



@keyframes img {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0);
     }
  }




.desc button{
    margin-bottom: 10px;
}
/* @media (min-width:1000px) {
    .desc button{
        margin-left: auto !important;
        margin-right: auto !important;
    }
} */

h4{
    color: gray !important;
    margin: 20px 0 !important;
}


