@media (min-width:1000px) {
    .menue-links{
        margin-left: 25%;
    }
    .menue-links .link{
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
    .button-72{
        margin-left: 30px !important;
        margin-top: 10px !important;
    }
}

nav{
    text-align: center !important;
    z-index: 30 !important;
    background-color: transparent !important;
    color: white !important;
    padding-top: 20px !important;
}

.logo{
    border-radius: 50%;
}

.menue-links .link{
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 20px !important;
    width: 100% !important; 
    height: fit-content !important;
    text-align: center !important;
    color: #ffffff;
}

.menue-links .link:hover{
    background-image: linear-gradient(rgba(78, 161, 75, 0.84), rgba(69, 145, 62, 0.84) 50%);
    border-radius: 10px;

}


button a{
    text-decoration: none !important;
    color: white !important;
}

/* CSS */
.button-72 {
  margin-top: 10px !important;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(33, 114, 30, 0.84), rgba(17, 71, 12, 0.84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(35, 22, 53, 0.24) 0 2px 2px,rgba(62, 47, 70, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
    margin-left: auto ;
    margin-right: auto ;
}

.button-72:hover {
  background-image: linear-gradient(#FA4D12, #802709 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}


.drop-button{
    background-color: rgba(20, 226, 13, 0.84) !important;
    color:  white !important;
}

.drop-button .icon{
    color: white !important;
}
