@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#skills,#certificates,#experience,#projects,#hiring{
  font-family: 'Roboto', sans-serif !important;
    padding-bottom: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(62deg, rgba(33, 114, 30, 0.84) 0%, rgba(2,4,2,0.8743872549019608) 47%, rgba(0,0,0,0.8687850140056023) 100%);
}

/*title*/

:root {
  --gold: rgba(33, 114, 30, 0.84);
  --dark-shadow: #181612;
}
body {
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
  height:fit-content;
  padding: 20px 0 !important;
  font-family: 'Roboto', sans-serif !important;
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: clamp( 1em, 10vw, 10rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}

/* end title */


/* skills */
.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px);
  padding: 50px 0;
  border-radius: 8px;
  background: transparent;
  row-gap: 30px;
}

.circular-progress{
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#1628E0 3.6deg , #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: rgb(22, 19, 19);
}
.progress-value{
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: rgba(78, 161, 75, 0.84);
}
.text{
  font-size: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* skills */






.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 2.5s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

