.skills{
    padding: 100px 0;
    text-align: center;
    background-color: black;
    color: white;
}

.skillstitle{
    margin-bottom: 100px;
    font-size: 6rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Young Serif', serif;
    text-align: center;
}

@media (max-width:1000px) {
    .skillstitle{
        margin-bottom: 60px;
        font-size: 40px !important;
        text-align: center;
    }
}

.skill{
    max-width: 30% !important;
    margin: 30px auto !important;
    text-align: left;
}

@media (max-width:1000px) {
    .skill{
        max-width: 90% !important;
    }
}

.skill h2{
    width: 100% !important;
    border-radius: 10px;
    background-color: #ff9f10;
    color: black;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: rgb(38, 57, 77) 0px 12px 20px -10px;
}


.skillIcon{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
