.proj_details{
    color: white;
    line-height: 1.6;
    font-size: 17px;
    font-weight: 500;
    text-align: left !important;
}

.proj_title{
    color: rgba(31, 184, 26, 0.84);
    padding-bottom: 10px;
}

.proj_img img{
    width: 70%;
    height: 300px;
    border-radius: 30px;
    margin: 20px 0;
    transform: skew(-0.55turn, 10deg) scale(1.1);
    box-shadow: rgba(42, 42, 46, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width:1000px) {
    .proj_img img{
        width: 70%;
        height: 300px;
        transform: skew(-0.55turn, 10deg) scale(1.03);
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}

.proj_img , .proj_desc{
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 20px auto;
}

.allprojects{
    text-align: center !important;
    margin-top: 80px;
}

.row_proj{
    margin-top: 150px !important;
}